/*Button Primary color*/
$primay-color-button : '#f1ae35;';

/*Default color pallette*/
$secondary-color-defs : '#faad14;';

/*Default gradient color pallettte */
$bg-image-color: linear-gradient(90deg, #ff9557, #f6a944);